{
  "type": "service_account",
  "project_id": "zoover-assignment-rafael",
  "private_key_id": "",
  "private_key": "",
  "client_email": "terraform@zoover-assignment-rafael.iam.gserviceaccount.com",
  "client_id": "",
  "auth_uri": "",
  "token_uri": "",
  "auth_provider_x509_cert_url": "",
  "client_x509_cert_url": ""
}
